
@import url('../public/Satoshi_Complete/Fonts/WEB/css/satoshi.css');

body, html{
    background-color: black;
    padding: 0px 30px!important;
}

.white{
    color: white;
}

a {
    font-family: Satoshi-Regular;
}

p {
    color: white;
}

.genderCard{
    background-color: black!important;
    color:white!important;  
    border-radius: 20px!important;
}
.priceCard{
    background-color: rgba(24, 24, 28, 0.8)!important;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(6px);
    color: white!important;
    border-radius: 20px!important;
    width: 286px;
    height: 250px
}
.genderTitle{
    
    text-align: center;
    font-weight: 700!important;
    font-size: 25px!important;
}
.moreTitle{
    font-weight: 700!important;
    font-size: 25px!important;
}

.moreTextArea{
    background: rgba(24, 24, 28, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    margin-top: 17px!important;
    margin-bottom: 17px!important;
    color: white!important;
}

.moreTextArea .MuiInputLabel-root{
   
    color: rgba(255, 255, 255, 0.7);
    padding-left: 15px;
    font-style: italic;
}

.moreTextArea .MuiInputBase-input{
    color: white;
    padding-left:15px;
    padding-right:15px;
    
}

.moreTextAreaInsta{
    background: rgba(24, 24, 28, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    margin-top: 17px!important;
    margin-bottom: 17px!important;
    color: white!important;
}
.moreTextAreaInsta .MuiInputLabel-root{
   
    color: rgba(255, 255, 255, 0.7);
    padding-left: 15px;
    font-style: italic;
}

.moreTextAreaInsta .MuiInputBase-input{
    color: white;
    
}

.genderCardselected{
    background-color: black!important;
    color:white!important;  
    border: 1px white #F0C956;
    border-radius: 20px!important;
}
.buttonGender {
    background: #F0C956!important;
    border: 1px solid #F0C956!important;
    border-radius: 40px!important;
    font-weight: bold!important;
    width: 10%;
    margin-top: 75px!important;
    margin-right: 35px!important;
}
.buttonGender:hover {
        color: "white";
}

.buttonPrev {
    background: #D9D9D9!important;
    border: 1px solid #D9D9D9!important;
    border-radius: 40px!important;
    font-weight: bold!important;
    width: 10%;
    margin-top: 75px!important;
    margin-right: 35px!important;
}
.buttonPrev:hover {
        color: "white";
}

.buttonNeed {
   
    border-radius: 40px!important;
    font-weight: bold!important;
    border-radius: 51px;
    width: 350px;
    height: 55px;
    margin-top: 5px!important;
}
.buttonNeed:hover {
    background: #F0C956!important;
    border: 1px solid #F0C956!important;
}


.genderCard img{
        height: 280px;       
}

.sizeInput{
    height: 50%;
    color: white!important;;
    border-bottom: 1px white solid;
}

.sizeInput:hover{
    border-bottom: 1px white solid;
}
.check{
    margin-bottom: 7px!important;
    width: 7px;
    height: 7px;
    border: 1px white solid!important;
    color: white;
    
}
.MuiFormControlLabel-label{
    color:white!important;
    margin-left: 15px!important;
}
.sizeCheckBox{
    display: flex;
    flex-direction: column;
    color: white
}

/* .MuiRadio-colorSecondary.Mui-checked    {
    background: #F0C956;
    border: 1px solid #F0C956;
} */
.inputSizeLabel{
    
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: x-large!important;
    margin-right: 18px!important;
}

.sizeImg{
    
    margin-right: 30px;
}
.boxSize{
    width: 99%!important;
    margin-top:30px!important
}

.needBox{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.moreBox{
    margin: 0 auto;
    width: 31%;
    display: flex;
    flex-direction: column;
}

.skip{
    color:white;
    float: right;
}
.buttonErrors{
    background: #F0C956!important;
    border: 1px solid #F0C956!important;
    border-radius: 40px!important;
    font-weight: bold!important;
    width: 10%;
}

.finalBox{
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 25%;
    padding: 35px 50px;
}
.menuLink{
    margin-right: 40px!important;
}
.buttonConfirm{
    width: 100%;
    margin-top:30px !important;
    background: #F0C956!important;
    border: 1px solid #F0C956!important;
    border-radius: 40px!important;
    font-weight: bold!important;
}
.menulogo{
    width: 100px;
    
    margin-left: 65px;
}
.avatar{
    
    width: 100px;
}
                   
.finalBox p{
    font-family: Satoshi-Regular;
}
.orderBox{
    background-color: black;
}
/* .boxNav{
    background: #a8a599;
   
    position: absolute;
    width: 20%;
    height: 100%;
    border-bottom:1px solid rgba(255, 255, 255, 0.2)
}

.leftNav{
    margin-right: 10px;
    position:relative;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
} */