
@import url('../public/Satoshi_Complete/Fonts/WEB/css/satoshi.css');

body, html{
    background-color: black;
    padding: 0px!important;
    height: 100%;
}

.white{
    color: white;
}

a {
    font-family: Satoshi-Regular;
}

p {
    color: white;
}

#root{
    width: 100%;
    height: 100%;
}

.leftNav{
    width:20%!important;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.boxNav{
    display: flex;
    justify-content: center;
    border-bottom:1px solid rgba(255, 255, 255, 0.2)
}
.boxNavShpz{
    height: 175px;
    border-bottom:1px solid rgba(255, 255, 255, 0.2)
}
th{
    color:white!important
}
td{
    opacity: 60%;
    color:white!important
}
.boxNavLogo{
    display: flex;
    justify-content: center;
}
.menuLink{
    
    margin-right: 40px!important;
    text-decoration: none;
}
.MuiPaper-elevation {
    border: 1px #F0C956 solid;
}
.menuLink:hover{
    text-decoration: underline;
}
.myOrder{
    font-family: Satoshi-Regular;
    display: flex;
    justify-content: center;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    height: 102px;
    font-weight: 700;
    font-size: 20px!important;
    align-items: center;
    color: white;
}

.myForm{ 
    align-items: center;
    color: white;
    height: 102px;
    display: flex;
    justify-content: center;
    border-bottom:1px solid rgba(255, 255, 255, 0.2)
}
.tableItem{
    padding: 0 60px;
    width: 80%;
    margin-top: 40px!important;
}