/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2022 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Variable(Variable font)
 * Satoshi Variable Italic(Variable font)
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('../public/satoshi_Complete/font/Satoshi-Variable.woff2') format('woff2'),
       url('../public/satoshi_Complete/font/Satoshi-Variable.woff') format('woff'),
       url('../public/satoshi_Complete/font/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('../public/satoshi_Complete/font/Satoshi-VariableItalic.woff2') format('woff2'),
       url('../public/satoshi_Complete/font/Satoshi-VariableItalic.woff') format('woff'),
       url('../public/satoshi_Complete/font/Satoshi-VariableItalic.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Light';
  src: url('../public/satoshi_Complete/font/Satoshi-Light.woff2') format('woff2'),
       url('../public/satoshi_Complete/font/Satoshi-Light.woff') format('woff'),
       url('../public/satoshi_Complete/font/Satoshi-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-LightItalic';
  src: url('../public/satoshi_Complete/font/Satoshi-LightItalic.woff2') format('woff2'),
       url('../public/satoshi_Complete/font/Satoshi-LightItalic.woff') format('woff'),
       url('../public/satoshi_Complete/font/Satoshi-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../public/satoshi_Complete/font/Satoshi-Regular.woff2') format('woff2'),
       url('../public/satoshi_Complete/font/Satoshi-Regular.woff') format('woff'),
       url('../public/satoshi_Complete/font/Satoshi-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-Italic';
  src: url('../public/satoshi_Complete/font/Satoshi-Italic.woff2') format('woff2'),
       url('../public/satoshi_Complete/font/Satoshi-Italic.woff') format('woff'),
       url('../public/satoshi_Complete/font/Satoshi-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../public/satoshi_Complete/font/Satoshi-Medium.woff2') format('woff2'),
       url('../public/satoshi_Complete/font/Satoshi-Medium.woff') format('woff'),
       url('../public/satoshi_Complete/font/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('../public/satoshi_Complete/font/Satoshi-MediumItalic.woff2') format('woff2'),
       url('../public/satoshi_Complete/font/Satoshi-MediumItalic.woff') format('woff'),
       url('../public/satoshi_Complete/font/Satoshi-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}





